/* Estilos principais para o layout do site */
body {
    font-family: Arial, sans-serif;
    background-color: #008B8B; /* Verde água escuro */
    color: #BC8F8F; /* Bege rosado */
    margin: 0;
    padding: 0;
}

header {
    background-color: #DB7093; /* Rosa avermelhado */
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2em;
}

#graficos-container {
    padding: 20px;
}

.grafico {
    margin: 20px 0;
    background-color: #BC8F8F; /* Fundo bege rosado */
    padding: 10px;
    border-radius: 8px;
}
